* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

:root {
  --navHeight: 12vh;
  --burgerHeight: 35px;
  --burgerWidth: 40px
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  height: var(--navHeight);
  width: 100%;
  z-index: 1;
}

nav .burger {
  position: relative;
  left: 20px;
  width: var(--burgerWidth);
  height: var(--burgerHeight);
  cursor: pointer;
  z-index: 3;

  transition: .3s linear;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  border-radius: 20%;
  transition: top .3s, opacity .3s, transform .3s .4s linear;

}

.burger span:nth-child(1){
  top: 0;
  left: 0;
}

.burger span:nth-child(2){
  top: calc(50% - 2.5px);
}

.burger span:nth-child(3){
  bottom: 0;
}

/*Animacja burgera*/

.burger.change {
  left: 80px;
	transform: rotate(90deg);
	transition: left .3s, transform .3s .3s linear;
  z-index: 3;
}

.burger.change span:nth-child(1) {
	transform: rotate(-45deg);
	top: calc(50% - 5px);
}

.burger.change span:nth-child(2) {
	opacity: 0;
}

.burger.change span:nth-child(3) {
	transform: rotate(45deg);
	top: calc(50% - 5px);
}

/* Menu */
aside {
  position: fixed;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  background-color: #000;
  transition: .3s;
}

.burger.active + aside {
  left: 0;
  z-index: 2;
}

aside ul.menu {
  list-style-type: none;
  margin-top: var(--navHeight);
  text-align: center;
}

aside ul.menu li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  line-height: calc(88vh / 5);
  transition: .4s;
}

aside ul.menu li:hover a {
  background-color: #DDD;
  color: #000;
  font-size: 27px;
}

.logo {
  width: 125px;
  height: 10vh;
  margin-right: 10px;
}

.hidden-logo {
  display: none;
}

.logo img {
  width: 100%;
}

/* BANNER */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(../image/tlo.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0 ,0 , 0.3);
  z-index: -2;
}

header {
  position: absolute;
  bottom: 70px;
  left: 0;
}

header h1 {
  color: #FFF;
  font-weight: 100;
  font-size: 40px;
  margin-left: 20px;
}

header h1.slider-blue,
.blue-heading {
  color: aqua;
}

header .fas {
  margin: 15px 10px 0;
  font-size: 30px;
  color: #FFCC66;
  cursor: pointer;
}

header .fa-arrow-left {
  margin-left: 20px;
}

header .buttons {
  margin: 25px 0 0;

}

header .buttons button {
	position: relative;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	font-size: 15px;
	margin-left: 10px;
	z-index: 1;
}

header .buttons button::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-radius: 50px;
	background-color: #000;
	color: #FFF;
	z-index: -1;
	transition: .5s;
}

header .buttons button:hover::after {
  height: 100%;
}

header .buttons button:hover {
  color: #FFF;
  font-weight: 600;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF;
  z-index: 0;
}

article {
  margin-top: 60px;
  width: 92%;
}

h2 { 
  font-size: 35px;
  text-align: center;
}

article p {
  line-height: 30px;
  word-break: keep-all;
  hyphens: auto;
  font-size: 17px;
  margin: 25px 0;
}

article img {
  width: 100%;
}

.banner-img {
  position: relative;
  overflow: hidden;
}

h4 {
  position: absolute;
  top: 20px;
  left: -40px;
  transform: rotate(-35deg);
  font-size: 20px;
  padding: 10px 70px;
  color: #FFF;
  background-color: cadetblue;
}

.popup-btn {
  position: relative;
  cursor: pointer;
}

.popup-btn img {
  height: 50vh;
}

.popup-btn button {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cadetblue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 80px;
}

.modal-wrap {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.modal-wrap.active {
  display: block;
}

.modal-wrap.active .modal {
  position: absolute;
  top: 50%;
  left: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
	width: 93%;
	height: 95%;
  border: 3px solid #000;
}

.modal .middle {
  flex-grow: 1;
  background-color: #DDD;
}

.middle iframe {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal span {
	position: absolute; 
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
}

.nav-hide {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F8FA;
  margin-top: 30px;
  padding: 70px 0;
}

section h2 {
  font-size: 25px;
}

section h3 {
  font-size: 20px;
  color: #C2CDD5;
  margin-top: 20px;
}

section form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input,
form .row-form input {
  display: flex;
  justify-content: center;
  width: 85vw;
  border: none;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 1px 3px 6px 1px #919A9F;
}

form > input:hover,
textarea:hover {
  box-shadow: 0px 8px 8px 0px #919A9F;
}

textarea {
  border: none;
  padding: 20px;
  width: 85vw;
  box-shadow: 1px 3px 6px 1px #919A9F;
}

p.statue {
  margin-top: 20px;
  font-size: 10px;
  font-family: Muli;
  line-height: 1.6;
  color: #002841;
  width: 80vw;
}

.btn-submit {
  margin: 30px 0;
  background-color: #00b6dc;
  color: #FFF;
  width: 118px;
  height: 50px;
  font-family: Muli;
  border: none;
  border-radius: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #001927;
  font-family: Muli;
  width: 100vw;
  color: #FFF;
  padding: 82px 0 0;
}

address {
  font-size: 15px;
  width: 100px;
}

.footer-link {
  display: none;
}

#map {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}