* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

:root {
  --navHeight: 12vh;
  --burgerHeight: 35px;
  --burgerWidth: 40px
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  height: var(--navHeight);
  width: 100%;
  z-index: 1;
}

nav .burger {
  position: relative;
  left: 20px;
  width: var(--burgerWidth);
  height: var(--burgerHeight);
  cursor: pointer;
  z-index: 3;

  transition: .3s linear;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  border-radius: 20%;
  transition: top .3s, opacity .3s, transform .3s .4s linear;

}

.burger span:nth-child(1){
  top: 0;
  left: 0;
}

.burger span:nth-child(2){
  top: calc(50% - 2.5px);
}

.burger span:nth-child(3){
  bottom: 0;
}

/*Animacja burgera*/

.burger.change {
  left: 80px;
	transform: rotate(90deg);
	transition: left .3s, transform .3s .3s linear;
  z-index: 3;
}

.burger.change span:nth-child(1) {
	transform: rotate(-45deg);
	top: calc(50% - 5px);
}

.burger.change span:nth-child(2) {
	opacity: 0;
}

.burger.change span:nth-child(3) {
	transform: rotate(45deg);
	top: calc(50% - 5px);
}

/* Menu */
aside {
  position: fixed;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  background-color: #000;
  transition: .3s;
}

.burger.active + aside {
  left: 0;
  z-index: 2;
}

aside ul.menu {
  list-style-type: none;
  margin-top: var(--navHeight);
  text-align: center;
}

aside ul.menu li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  line-height: calc(88vh / 5);
  transition: .4s;
}

aside ul.menu li:hover a {
  background-color: #DDD;
  color: #000;
  font-size: 27px;
}

.desktop-menu {
  display: none;
}

.logo {
  width: 125px;
  height: 10vh;
  margin-right: 10px;
}

.hidden-logo {
  display: none;
}

.logo img {
  width: 100%;
}

/* BANNER */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(../image/tlo.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0 ,0 , 0.45);
  z-index: -2;
}

header {
  position: absolute;
  bottom: 70px;
  left: 0;
}

header h1 {
  color: #FFF;
  font-weight: 100;
  font-size: 40px;
  margin-left: 20px;
}

header h1.slider-blue,
.blue-heading {
  color: aqua;
}

header .fas {
  margin: 15px 10px 0;
  font-size: 30px;
  color: #FFCC66;
  cursor: pointer;
}

header .fa-arrow-left {
  margin-left: 20px;
}

header .buttons {
  margin: 25px 0 0;
}

header .buttons button {
	position: relative;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	font-size: 15px;
	margin-left: 10px;
	z-index: 1;
}

header .buttons button::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-radius: 50px;
	background-color: #000;
	color: #FFF;
	z-index: -1;
	transition: .5s;
}

header .buttons button:hover::after {
  height: 100%;
}

header .buttons button:hover {
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF;
  z-index: 0;
}

article {
  margin-top: 60px;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 { 
  font-size: 35px;
  text-align: center;
}

article p {
  line-height: 30px;
  word-break: keep-all;
  hyphens: auto;
  font-size: 17px;
  margin: 25px 0;
}

article img {
  width: 100%;
  box-shadow: 0px 0px 30px 3px #999;
}

.banner-img {
  position: relative;
  overflow: hidden;
}

h4 {
  position: absolute;
  top: 20px;
  left: -40px;
  transform: rotate(-35deg);
  font-size: 20px;
  padding: 10px 70px;
  color: #FFF;
  background-color: cadetblue;
}

.popup-btn {
  position: relative;
  cursor: pointer;
}

.popup-btn img {
  height: 100%;
}

.popup-btn button {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cadetblue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 80px;
}

.modal-wrap {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.modal-wrap.active {
  display: block;
}

.modal-wrap.active .modal {
  position: absolute;
  top: 50%;
  left: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
	width: 93%;
	height: 95%;
  border: 3px solid #000;
}

.modal .middle {
  flex-grow: 1;
  background-color: #DDD;
}

.middle iframe {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal span {
	position: absolute; 
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
}

.nav-hide {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F8FA;
  width: 100%;
  margin-top: 30px;
  padding: 70px 0;
}

section h2 {
  font-size: 25px;
}

section h3 {
  font-size: 20px;
  color: #C2CDD5;
  margin-top: 20px;
}

section form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input,
form .row-form input {
  display: flex;
  justify-content: center;
  width: 85vw;
  border: none;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 1px 3px 6px 1px #919A9F;
}

form > input:hover,
textarea:hover {
  box-shadow: 0px 8px 8px 0px #919A9F;
}

textarea {
  border: none;
  padding: 20px;
  width: 85vw;
  box-shadow: 1px 3px 6px 1px #919A9F;
}

p.statue {
  margin-top: 20px;
  font-size: 10px;
  font-family: Muli;
  line-height: 1.6;
  color: #002841;
  width: 80vw;
}

.btn-submit {
  margin: 30px 0;
  background-color: #00b6dc;
  color: #FFF;
  width: 118px;
  height: 50px;
  font-family: Muli;
  border: none;
  border-radius: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #001927;
  font-family: Muli;
  color: #FFF;
  padding: 82px 0 0;
}

address {
  font-size: 15px;
  width: 100px;
}

.footer-link {
  display: none;
}

#map {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

@media (min-width: 320px) and (min-height: 480px) and (max-width: 374px){
  nav {
    display: flex;
    justify-content: space-around;
  }

  .desktop-menu {
    display: none;
  }

  nav .burger  {
    width: 30px;
    height: 25px;
  }
  
  .burger span {
    height: 4px;
  }

  .burger span:nth-child(1){
    top: 0;
    left: 0;
  }
  
  .burger span:nth-child(2){
    top: calc(50% - 2px);
  }
  
  .burger span:nth-child(3){
    bottom: 0;
  }

  aside ul.menu li a {
    font-size: 17px;
  }

  aside ul.menu li:hover a {
    font-size: 22px;
  }

  .logo {
    width: 85px;
    margin-right: 15px;
  }

  header {
    bottom: 10px;
  }

  header h1 {
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
  }

  header .fas {
    font-size: 22px;
  }

  header .buttons {
    display: flex;
    margin-top: 15px;
  }
  
  header .buttons button {
    padding: 10px 10px;
    font-size: 13px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  address {
    font-size: 17px;
    width: 150px;
    margin-bottom: 20px;
  }

  #map {
    width: 170px;
    height: 170px;
    padding: 10px 0;
  }
}

@media (orientation: landscape) {
  nav {
    height: 20vh;
    justify-content: space-between;
  }

  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
  nav .burger  {
    width: 35px;
    height: 25px;
    margin-left: 55px;
  }
  
  .burger span {
    height: 3px;
  }

  .burger span:nth-child(1){
    top: 0;
    left: 0;
  }
  
  .burger span:nth-child(2){
    top: calc(50% - 1.5px);
  }
  
  .burger span:nth-child(3){
    bottom: 0;
  }

  .burger.change {
    left: 135px;
  }

  aside {
    left: -250px;
    width: 250px;
  }

  aside ul.menu li a {
    font-size: 15px;
    line-height: calc(80vh / 5);
  }

  aside ul.menu li:hover a {
    font-size: 20px;
  }

  aside ul.menu {
    list-style-type: none;
    margin-top: 20vh;
    text-align: center;
  }

  .logo {
    width: 130px;
  }

  header {
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100vw;
    margin: 0;
  }

  header .fas {
    font-size: 25px;
    margin: 0 10px;
  }

  article {
    text-align: center;
    min-height: 100vh;
  }

  h2 {
    margin: 20px 0;
  }

  article img,
  .popup-btn img {
    text-align: center;
    width: 50vw;
    height: 80vh;
  }

  .banner-img {
    width: 54%;
    margin: 0 auto;
    box-shadow: 0px 0px 30px 3px #999;
  }
}

@media (orientation: landscape) and (min-height: 720px) and (max-height: 920px) {
  nav {
    height: 15vh;
  }
 
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  nav .burger  {
    width: 55px;
    height: 45px;
    margin-left: 55px;
  }
  
  .burger span {
    height: 4px;
  }

  .burger span:nth-child(1){
    top: 0;
    left: 0;
  }
  
  .burger span:nth-child(2){
    top: calc(50% - 2px);
  }
  
  .burger span:nth-child(3){
    bottom: 0;
  }

  .burger.change {
    left: 10px;
  }

  aside {
    left: -300px;
    width: 300px;
  }

  aside ul.menu li a {
    font-size: 27px;
    line-height: calc(80vh / 5);
  }

  aside ul.menu li:hover a {
    font-size: 33px;
  }

  aside ul.menu {
    list-style-type: none;
    margin-top: 15vh;
    text-align: center;
  }

  .logo {
    width: 170px;
  }

  header h1 {
    display: flex;
    justify-content: center;
    font-size: 55px;
    width: 100vw;
    margin: 0;
  }

  header .fas {
    font-size: 35px;
    margin: 0 10px;
  }

  .banner header .buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px;
  }
  
  header .buttons button {
    padding: 20px 30px;
    margin: 30px;
    font-size: 25px;
  }

  article p {
    font-size: 25px;
  }

  address {
    font-size: 25px;
    width: 200px;
    margin-bottom: 20px;
  }

  #map {
    width: 210px;
    height: 200px;
    padding: 10px 0;
  }

  p.statue {
    font-size: 17px;
  }

  .btn-submit {
    margin: 30px 0;
    background-color: #00b6dc;
    color: #FFF;
    width: 118px;
    height: 50px;
    font-family: Muli;
    border: none;
    border-radius: 30px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px){
  nav {
    height: 15vh;
    justify-content: space-around;
  }

  .mobile-menu {
    display: none;
  }

  .fix-menu {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 10vh;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 900px;
    list-style-type: none;
  }

  .desktop-menu li {
    width: 160px;
    height: 40px;
  }

  .desktop-menu li a {
    display: block;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    /* background-color: orange; */
    transition: .5s;
  }

  .desktop-menu li:hover a {
    text-transform: uppercase;
    font-size: 22px;
  }

  nav .burger {
    width: 50px;
    height: 35px;
  }

  .burger span {
    height: 3px;
  }

  .burger span:nth-child(2){
    top: calc(50% - 1.5px);
  }

  aside {
    left: -350px;
    width: 350px;
  }

  aside ul.menu {
    margin-top: 15vh;
  }
  
  aside ul.menu li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
    line-height: calc(85vh / 5);
  }

  aside ul.menu li:hover a {
    font-size: 32px;
  }

  .logo {
    width: 170px;
    margin: 15px 30px 0 0;
  }

  header {
    position: absolute;
    top: 50%;
  }

  header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 45px;
    width: 100vw;
    margin-left: 55px;
  }

  header .fas {
    font-size: 35px;
    margin: 20px 15px;
  }

  .manual-slider {
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }

  header .buttons button {
    font-size: 18px;
    padding: 15px 20px;
    margin-right: 25px;
  }

  article {
    min-height: 100vh;
    width: 100vw;
  }

  .align-horizontal {
    display: flex;
    justify-content: space-around;
    width: 95vw;
  } 

  .banner-img {
    display: flex;
    width: 52%;
    margin: 0;
    box-shadow: 0px 0px 30px 3px #999;
  }

  .banner-img h4 {
    top: 30px;
    padding: 25px 150px;
    left: -70px;
    font-size: 25px;
  }

  h2 {
    font-size: 45px;
    margin: 20px 0 60px;
  }

  article .align-horizontal .display-block p {
    font-size: 25px;
    line-height: 32px;
    width: 95%;
  }

  .width-text {
    width: 50%;
  }

  .popup-btn button {
    font-size: 120px;
  }

  section h2 {
    font-size: 30px;
  }

  section h3 {
    font-size: 27px;
  }

  form > input,
  form .row-form input {
    padding: 30px;
    font-size: 23px;
  }

  textarea {
    font-size: 23px;
  }

  p.statue {
    font-size: 18px;
    width: 82vw;
  }

  .btn-submit {
    width: 150px;
    height: 70px;
    font-size: 22px;
  }

    #map {
    width: 210px;
    height: 200px;
    padding: 10px 0;
  }

  footer {
    background-color: #001927;
    font-family: Muli;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 82px 0 0;
  }
  
  address {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100px;
  }
   
   footer > .footer-link > a {
    color: #FFF;
    line-height: 32px;
    text-decoration: none;
   }
  
   .footer-link {
    display: flex;
    flex-flow: column wrap;
    height: 160px;
    width: 891px;
   }
}

@media (min-width: 1301px) {
  * {
    box-sizing: border-box;
  }

  .mobile-menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }

  .fix-menu {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 7vh;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 900px;
    list-style-type: none;
  }

  .desktop-menu li {
    width: 160px;
    height: 40px;
  }

  .desktop-menu li a {
    display: block;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    /* background-color: orange; */
    transition: .5s;
  }

  .desktop-menu li:hover a {
    text-transform: uppercase;
    font-size: 22px;
  }

  .logo {
    margin: 0;
    width: 130px;
  }

  header {
    position: relative;
    width: 75vw;
    height: 10vh;
    margin: 0 auto;
  }

  header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    width: 100%;
  }

  header .fas {
    font-size: 30px;
  }

  .manual-slider {
    width: 100%;
    margin: 50px 0;
  }

  header .buttons {
    /* background-color: red; */
    width: 100%;
    margin: 0;
  }

  header .buttons button {
    padding: 15px 30px;
    font-size: 18px;
  }

  article {
    min-height: 100vh;
    height: 100vh;
    margin-top: 30px;
  }

  h2 {
    margin: 20px 0 60px;
  }

  .align-horizontal {
    display: flex;
    justify-content: space-around;
    width: 75vw;
  }

  article .align-horizontal .display-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
  }

  article:nth-child(2) .align-horizontal .display-block {
    margin-left: 30px;
    order: 2;
  }
  
  .width-text {
    width: 60%;
  }

  .banner-img img {
    width: 100%;
  }

  .popup-btn {
    width: 70%;
  }

  .popup-btn img {
    width: 100%;
  }

  #map {
    width: 210px;
    height: 200px;
    padding: 10px 0;
    /* background-color: red; */
  }

  footer {
    background-color: #001927;
    font-family: Muli;
    width: 100%;
    color: #FFF;
    height: 364px;
    display: flex;
    justify-content: space-around;
    padding: 82px 0 0;
  }
  
  address {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100px;
  }
   
   footer > .footer-link > a {
    color: #FFF;
    line-height: 32px;
    text-decoration: none;
   }
  
   .footer-link {
    display: flex;
    flex-flow: column wrap;
    height: 160px;
    width: 891px;
   }
}